# 1. Security
APP_CONFIG__TOKEN__SECRET_KEY="mysecretkey"
APP_CONFIG__TOKEN__ALGORITHM="HS256"

# 2. Database
APP_CONFIG__DB__URL="postgresql+asyncpg://username:password@postgres:5432/datatable"

# 3. Redis
APP_CONFIG__REDIS__URL="redis://redis:6379"

# 4. Stream logger
APP_CONFIG__LOGGING__STREAM__ENABLED=True
APP_CONFIG__LOGGING__STREAM__LEVEL=INFO

# 5. Common log file
APP_CONFIG__LOGGING__COMMON_FILE__ENABLED=True
APP_CONFIG__LOGGING__COMMON_FILE__LEVEL=INFO
APP_CONFIG__LOGGING__COMMON_FILE__PATH="logs/{time:YYYY-MM-DD}/common.log"
APP_CONFIG__LOGGING__COMMON_FILE__ROTATION="00:00"
APP_CONFIG__LOGGING__COMMON_FILE__RETENTION="30 days"

# 6. Error log file
APP_CONFIG__LOGGING__ERROR_FILE__ENABLED=True
APP_CONFIG__LOGGING__ERROR_FILE__LEVEL=ERROR
APP_CONFIG__LOGGING__ERROR_FILE__PATH="logs/{time:YYYY-MM-DD}/error.log"
APP_CONFIG__LOGGING__ERROR_FILE__ROTATION="00:00"
APP_CONFIG__LOGGING__ERROR_FILE__RETENTION="30 days"

# 7. Json log file
APP_CONFIG__LOGGING__JSON_FILE__ENABLED=True
APP_CONFIG__LOGGING__JSON_FILE__LEVEL=INFO
APP_CONFIG__LOGGING__JSON_FILE__PATH="logs/{time:YYYY-MM-DD}/json.log"
APP_CONFIG__LOGGING__JSON_FILE__ROTATION="00:00"
APP_CONFIG__LOGGING__JSON_FILE__RETENTION="30 days"