services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi-movie-manager
    env_file:
      - .env
    environment:
      APP__HOST: app
      APP__PORT: 8000
      DB__HOST: postgres
      DB__PORT: 5432
      REDIS__HOST: redis
      REDIS__PORT: 6379
    volumes:
      - app_logs:/movie_manager/${LOGGING__LOG_FOLDER}:rw
    ports:
      - ${APP__PORT}:8000
    networks:
      - backend
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "-s", "http://localhost:8000/internal/healthcheck" ]
      interval: 30s
      timeout: 2s
      retries: 5
      start_period: 30s
    restart: always
    entrypoint: [ "./app.sh", "run" ]
    command: [ "--host", "0.0.0.0", "--port", "8000" ]

  app-cli:
    extends: app
    container_name: fastapi-movie-manager-cli
    environment:
      AUTO_REMOVAL: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    healthcheck:
      disable: true
    entrypoint: [ "./app.sh" ]
    command: [ "help" ]
    profiles: [ "cli" ]

  redis:
    image: redis:latest
    container_name: redis
    environment:
      REDIS_DATABASES: 5
    volumes:
      - redis_data:/data
    ports:
      - ${REDIS__PORT}:6379
    networks:
      - backend
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 2s
      retries: 5
      start_period: 30s
    restart: unless-stopped

  postgres:
    image: postgres:16
    container_name: postgres16
    environment:
      POSTGRES_DB: ${DB__TABLENAME}
      POSTGRES_USER: ${DB__USERNAME}
      POSTGRES_PASSWORD: ${DB__PASSWORD}
      PGDATA: /var/lib/postgresql/data/
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - ${DB__PORT}:5432
    networks:
      - backend
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${DB__USERNAME}", "-d", "${DB__TABLENAME}" ]
      interval: 30s
      timeout: 2s
      retries: 5
      start_period: 30s
    restart: unless-stopped

volumes:
  pg_data:

  redis_data:

  app_logs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${LOCAL_STORAGE}/logs

networks:
  backend:
    driver: bridge
