services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi-movies
    env_file:
      - envs/.env.template
      - envs/.env
    environment:
      MOVIE_MANAGER__APP__HOST: app
      MOVIE_MANAGER__DB__HOST: postgres
      MOVIE_MANAGER__REDIS__HOST: redis
      MOVIE_MANAGER__DB__USERNAME: ${POSTGRES_USER}
      MOVIE_MANAGER__DB__PASSWORD: ${POSTGRES_PASSWORD}
      MOVIE_MANAGER__DB__DATABASE: ${POSTGRES_DB}
      MOVIE_MANAGER__LOGGING__LOG_FOLDER: ${LOG_FOLDER}
    volumes:
      - type: volume
        source: app_logs
        target: $PWD/${LOG_FOLDER}
    ports:
      - ${APP_PORT}:8000
    networks:
      - backend
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "-s", "http://localhost:8000/internal/healthcheck" ]
      interval: 30s
      timeout: 2s
      retries: 5
      start_period: 30s
    restart: always
    entrypoint: [ "./app.sh", "run" ]
    command: [ "--host", "0.0.0.0", "--port", "8000" ]

  app-cli:
    extends: app
    container_name: fastapi-movies-cli
    environment:
      AUTO_REMOVAL: true
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
        read_only: true
    healthcheck:
      disable: true
    entrypoint: [ "./app.sh" ]
    command: [ "help" ]
    profiles: [ "cli" ]

  redis:
    image: redis:latest
    container_name: redis
    environment:
      REDIS_DATABASES: 5
    volumes:
      - type: volume
        source: redis_data
        target: /data
    ports:
      - ${REDIS_PORT}:6379
    networks:
      - backend
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 2s
      retries: 5
      start_period: 30s
    restart: unless-stopped

  postgres:
    image: postgres:16
    container_name: postgres16
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: ${PGDATA}
    volumes:
      - type: volume
        source: pg_data
        target: ${PGDATA}
    ports:
      - ${POSTGRES_PORT}:5432
    networks:
      - backend
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}" ]
      interval: 30s
      timeout: 2s
      retries: 5
      start_period: 30s
    restart: unless-stopped

volumes:
  pg_data:

  redis_data:

  app_logs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${LOCAL_STORAGE}/logs

networks:
  backend:
    driver: bridge
